@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Freehand&family=Hanken+Grotesk:wght@500;700;800&family=Roboto:wght@400;500;700;900&family=Stick+No+Bills:wght@500&family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
}

.app{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 600px;
  min-height: 350px;
  background-color: #333;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px #888888;
}

.weather #main-icon{
  position: absolute;
  top: -5px;
  left: -30px;
  width: 65px;
  height: 65px;
  rotate: 45deg;
}

.location{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}

.location #display-location{
  color: rgb(14, 34, 34);
  background-color: rgb(223, 232, 229);
  padding: 0.25rem 0.65rem;
  border-radius: 0.5rem;
}

.location .search{
  display: inline;
}

.location .search input{
  padding: 0.2rem;
}
.location .search button{
  padding: 0.2rem;
}

.location .search button:hover{
  cursor: pointer;
}

#icons{
  width: 18px;
  height: 18px;
}

#icons-max-temp{
  width: 24px;
  height: 24px;
}

.results-weather{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fbf9f9;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.results-weather .current{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.results-weather .forecast{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.results-weather .forecast .day-container:nth-child(-n+1),
.results-weather .current .day-container{
  border-right: 2px solid #333;
}

.results-weather .forecast .day-container,
.results-weather .current .day-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  flex-grow: 1;
  flex-shrink: 0;
  gap: 2rem;
  height: 200px;
}


.results-weather .current #day1 p{
  padding-right: 0.75rem;
}

.forecast #day2 p,
.forecast #day3 p{
  padding-right: 2rem;
}

#day{
  font-style: oblique;
  font-weight: 800;
}

.day-container div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}



footer{
  display: flex;
  justify-content: center;
  width: 100%;

  padding: 15px;
  gap: 5px;
  
}